@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: url('../images/Background.webp') top right no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 900;
}

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 15% 8px 15%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 25%;
    transition: 0.2s;
    margin: 5px 4px 5px 4px;
    float: left;
}

.openbtn:hover {
    background-color: #444;
    transition: 0.2s;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

#main {
    transition: .5s;
    margin-left: 0px;
}

.section {
    padding: 0px 10px;
    margin: 64px;
    background-color: #fff1e8;
}

.subsection {
    padding-bottom: 10px;
}

.section h1 {
    font-size: 35px;
}

.section h2 {
    font-size: 28px;
}

.section ul {
    margin-left: 20px;
}

p {
    text-indent: 1em;
    padding: 0 10px;
    margin: 0 10px;
    text-align: justify;
    font-size: 18px;
}

footer {
    padding-top: 5px;
    background-color: #555;
    text-align: center;
    min-height: 1.5rem;
    color: #fff;
}

@media screen and (max-width: 1355px) {
    .section {
        margin: 52px;
    }
}

@media screen and (max-width: 1300px) {
    .section {
        margin: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .section {
        margin: 25px;
    }
}

@media screen and (max-width: 1025px) {
    .section {
        margin: 10px;
    }
}

@media screen and (max-width: 830px) {
    p {
        text-indent: 0.5em;
    }
}

@media screen and (max-width: 730px) {
    .section {
        margin: 5px;
    }
}

@media screen and (max-width: 676px) {
    p {
        text-indent: 0.5em;
        margin: 0 5px;
    }
}

@media screen and (max-width: 650px) {
    p {
        line-height: 140%;
    }
}

@media screen and (max-width: 600px) {
    p {
        
    }
}
