@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: url('../images/Background.webp') top right no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 900;
}

#logo {
    height: 45px;
    width: auto;
    float: left;
    padding: 5px;
}

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 15% 8px 15%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    z-index: 2;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.fade {
    position: fixed;
    z-index: 1;
    height: 101vh;
    width: 100%;
    background-color: #000;
    opacity: 70%;
    display: none;
    transition: 0.2s;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: #555;
    padding: 10px 15px;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 25%;
    transition: 0.2s;
    float: right;
    display: none;
}

.openbtn:hover {
    background-color: #444;
    transition: 0.2s;
}

.navbar {
    width: 100%;
    background-color: #ad5720;
    overflow: auto;
}

.navbar .nav-link {
    float: left;
    padding: 12px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid white;
}

.navbar .nav-link:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

#main {
    transition: .5s;
    margin-left: 0px;
}

.section {
    padding: 0px 10px;
    margin: 64px;
    background-color: #fff1e8;
    border-radius: 10px;
}

.img-section {
    min-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-section img {
    max-width: 75%;
    margin-bottom: 10px;
}

.video-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    min-width: 50%;
}

.video-section video {
    max-width: 50%;
}

.section h1, .section h2 {
    padding-left: 20px;
}

.subsection {
    padding-bottom: 10px;
}

.subsection-flex {
    display: flex;
    justify-content: space-between;
}

.subsection-item {
    display: block;
}

.section h1 {
    font-size: 35px;
}

.section h2 {
    font-size: 28px;
}

.section ul li {
    padding-left: 15px;
    margin-bottom: 10px;
}

.adocao {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.section-adocao {
    display: flex;
    justify-content: center;
    width: 50%;
}

.section-adocao .section {
    width: 70%;
}

.container-adocao {
    width: 100%;
}

.img-adocao, .img-adocao img {
    width: 100%;
}

p {
    padding: 0 10px;
    margin: 0 10px;
    text-align: justify;
    font-size: 18px;
}

footer {
    padding: 5px;
    background-color: #ad5720;
    text-align: center;
    min-height: 1.5rem;
    color: #fff;
}

footer span a {
    text-decoration: underline;
    color: inherit;
}

#fWhats, #fNome, #fInstaP, #fInstaM {
    display: inline-block;
}

@media screen and (max-width: 1370px) {
    .subsection-flex {
        display: block;
    }

    .img-section {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1355px) {
    .section {
        margin: 52px;
    }
}

@media screen and (max-width: 1300px) {
    .section {
        margin: 40px;
    }

    .section-adocao .section {
        width: 60%;
    }
}

@media screen and (max-width: 1200px) {
    .section {
        margin: 25px;
    }

    .section-adocao .section {
        width: 70%;
    }
}

@media screen and (max-width: 1025px) {
    .section {
        margin: 10px;
    }

    .section-adocao .section {
        width: 75%;
    }
}

@media screen and (max-width: 949.9px) {
    #fDash3 {
        opacity: 0%;
    }
}

@media screen and (max-width: 755px) {
    .video-section {
        flex-direction: column;
        align-items: center;
    }

    .video-section video {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 730px) {
    .section {
        margin: 5px;
    }

    .section-adocao .section {
        width: 80%;
    }
}

@media screen and (max-width: 676px) {
    p {
        margin: 0 5px;
    }
}

@media screen and (max-width: 658px) {
    #fDash3 {
        opacity: 100%;
    }

    #fDash2 {
        opacity: 0%;
    }
}

@media screen and (max-width: 650px) {
    p {
        line-height: 140%;
    }

    .section-adocao .section {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .video-section video {
        max-width: 75%;
    }
}

@media screen and (max-width: 552px) {
    #fDash3 {
        opacity: 0%;
    }
}

@media screen and (max-width: 405px) {
    .video-section video {
        max-width: 90%;
    }
}

@media screen and (max-width: 394.9px) {
    #fDash1 {
        opacity: 0%;
    }
}

@media screen and (max-width: 365px) {
    .nav-link {
        display: none;
    }
    .openbtn {
        display: inline-block;
    }
}

@media screen and (max-width: 342px) {
    .video-section video {
        max-width: 95%;
    }
}

@media screen and (max-width: 300px) {
    .section h1 {
        font-size: 32px;
    }
}
